$blanc = #ffffff
$ocean = #00848e
$greenyBlue = #47c1bf
$iris = #5c6ac4
$cobalt = #202e78
$darkNavy = #000639
$blueyGrey = #919eab
$paleGrey = #f3f4fa
$lightPeriwinkle = #b3bcf5
$frenchBlue = #4f5dba
$cloudyBlue = #b1b6d7
$lightBlueGrey = #bec3e7
$primary = $cobalt
$second = blue
$backgroundBody = $blanc
$text = $darkNavy
$textBlue = $iris
$textGreen = #47C1BF
$textYellow = #EDC200
$textGrey = #919EAB
$selectorChildren = #e6e8f6
$borderLight = $lightPeriwinkle
$tableDark = rgba($paleGrey, .5)
$sankey1 = #50248f
$sankey2 = #007ace
$sankey3 = #47c1bf
$sankey4 = #edc200
$sankey5 = #f49342
$sankey6 = #de1760
$error = red
$valid = green
$defaultBoxShadowColor = rgba(black, .15)
$defaultBoxShadow = 0 0 3px $defaultBoxShadowColor
