.dropdown-menu
    position relative

    .dropdown-trigger
        center()
        width 100%

    .dropdown-content
        position absolute
        height auto
        & .hidden
            height 0
            overflow hidden
        .dropdown-content-elem
            flexbox()
            align()
