@import 'vendors/*'

*
	outline: 0
	box-sizing: border-box

body
	font-family: 'arial', sans-serif
	font-size: 16px
	line-height: 1.2

html, body, #app
	height: 100%
	width: 100%

.hidden
	display: none

.theme
	&.theme-dark
		background-color $bodyDark
		color $txtDark
	&.theme-light
		background-color $bodyLight
		color $txtLight
