.overlay
	position fixed
	top 50%
	left 50%
	width 260px
	line-height 200px
	height 200px
	margin-left -130px
	margin-top -100px
	background-color #fff
	text-align center
	outline 9999px solid rgba(black, .5)
	div
		display inline
