.default-modal
	position: fixed
	width: 50vw
	min-height: 500px
	max-height: 80%
	min-width: 310px
	// overflow auto
	left: 25%
	right: 25%
	top: 10%
	background-color: $bodyLight
	padding: 20px 30px

	.close-modal
		position: absolute
		center()
		top: 14px
		right: 14px
		height: 32px
		width: 32px
		border-radius: 50%
		fontsize(18px)
		text-align: center
		color: $texte
		cursor: pointer

	.modal-content
		flex(column)
		overflow: auto
		color: $texte
		width: 100%
