.ReactModal__Overlay
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 999

	&.ReactModalPortalDark
		background-color: rgba(black, .4)

	.ReactModal__Content
		center(column)
		overflow-x: hidden
		overflow-y: auto
