.login-form
	flexbox(column)
	align()
	opacity: 1

	.input-group
		height: 64px
		flexbox(column)
		margin-bottom: 12px

	label
		margin-bottom: 5px
		color: $texte

	input
		height: 39px
		width: 278px
		radius(3px)
		border: 1px solid $borderLight

	.login-error-message
		height: 20px
		margin-top: 5px

	button
		background-color: $primary
		color: white
		margin-top: 15px

	.home-link
		margin-top: 10px
